{
    "extends": ["react-app", "airbnb", "prettier"],
    "rules": {
        "react/prefer-stateless-function": 0,
        "react/jsx-one-expression-per-line": 0,
        "react/prop-types": 0
    },
    "env": {
        "browser": true,
        "es6": true
    }
}